body {
    background-color: rgb(238, 238, 238);
    color: black;
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: rgb(51, 51, 51);
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: rgb(136, 136, 136);
    color: red;
    font-size: 150%;
    text-transform: capitalize;
}

h3 {
    background-color: rgb(170, 170, 170);
    color: DarkMagenta;
    font-size: 130%;
}

p {
    background-color: rgb(204, 204, 204);
    line-height: 150%;
}

address {
    background-color: white;
    font-style: normal;
    text-align: right;
}

em {
    color: blue;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

strong {
    color: green;
    font-style: normal;
    font-weight: normal;
}